
#historyBox{
    width: 1100px;
    height: auto;
    display: flex;
    margin: 1% auto 1% auto;
}
.xd{
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
}
#tbl, tr, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    font-size: x-large;
    
    padding-top:10px;
    padding-bottom:10px;
    padding-right:20px;
    padding-left:20px;
}


/*ouput table*/

#ID{
    font-weight: 900;
}

.type{
    text-align: center;
    font-weight: 900;
    font-size: 36px;
}
#negative{
    background-color: red;
}
#positive{
    background-color: greenyellow;
}

#amount{
    text-decoration: underline;
    text-align: center;
}

#description{
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    word-wrap: break-word;
    max-width: 360px;
    
    
}
