body{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#incomeBox, #outcomeBox{
    margin: 0 auto 0 auto;
    max-width: 600px;
}

#mainContent{
    text-align: center;
}



button, input {
    width: 300px;    
    color: black;
    padding: 16px 0px 18px 0px;
    text-align: center;

    font-size: 25px;
    margin: 4px 2px;
    transition-duration: 0.1s;
    cursor: pointer;
  }


